@import "tailwindcss";

@theme {
  --color-primary: #1a1a1a;
  --color-secondary: #666666;
  --color-background: #FAF9F6;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #1f2937;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}
